<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
    	<form name="login" action="whisperkey" method="post">
  	    <h1>WhisperKey</h1>
  	    URL: <input name="url" type="text"> <input id="login_submit" type="submit" class="btn" value="Whisper it!">
  	</form>
  </div>
	
  </body>
</html>
