<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="container">
    <h1><%= title %></h1>
      <form name="signup" action="signup" method="post">
      	First Name:<input name="firstname" type="text"><br>
  	    Last Name:<input name="lastname" type="text"><br>
  	    Username:<input name="username" type="text"><br>
  	    Password:<input name="password" type="password"><br>
  	    <input id="signup_submit" type="submit" value="Sign Up">
  	</form>
  </div>
  </body>

</html>
