html {
  background-color: #eee;
  font-family:"Trebuchet MS";
  color:#686868;
}

.column-left {
  float: left;
  width: 33%;
}

.column-center {
  display: inline-block;
  width: 33%;
}

.column-right {
  float: right;
  width: 33%;
}

.correct {
  padding-bottom: 10px;
  color:blue;
}

.incorrect {
  padding-bottom: 10px;
  color:red;
}

.incorrect .guess {
  text-decoration:line-through;
}

#currentFromWord {
  font-weight:bold;
}
