<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
    	<form name="login" action="users/login" method="post">
  	    <h1>Welcome to Fritter!</h1>
  	    URL:<input name="user_url" type="text"><br>
  	    <input id="login_submit" type="submit" class="btn" value="Log In">
  	</form>
  </div>
	
  </body>
</html>
