<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ready, Set, Translate !</title>
    <link type="text/css" href="jquery/css/ui-lightness/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <link type="text/css" href="whisperkey.css" rel="stylesheet" />

    <script type="text/javascript" src="jquery/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="jquery/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script type="text/javascript" src="whisperkey.js"></script>

  </head>
  <body>
    <h1> Welcome to WhisperKey! <span class="from" style="color:black"></span>  <span class="to" style="color:black"></span></h1>

    <div>URL:<input type="text" id="userInput"></div>
    <div><button type="button" id="seeAnswer">Whisper it!</button></div>
  </body>
</html>
